<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie App</title>
  </head>
  <body>
 <div class="main">
        <h1> Welcome to my movie app</h1>
        <p id="intro">
           You can find movies similar to some of your favorites! Search for a specific movie below, and we will generate a list of movies you might like based off of your search title. 
        </p>
    
        <form class="search">
            <input placeholder="Movie title">
            <button>Search</button>
        </form>
          <div class="message"></div>
    </div>
   
   

<script src="/js/app.js"></script>

  </body>
</html>